h1{
	font-size:2.5em;
	font-family: 'Georgia', Times, "Times New Roman", serif;
	font-weight:800;
	float:left;
	padding-left:20px;
	padding-top:24px;
	padding-bottom:28px;
	padding-right:20px;
	margin-top:-24px;
	margin-bottom:-15px;
	background:#415FB2;
}

h1:hover{
	background:#417FB2;
}

h2{
	font-size:1.7em;
	font-family: 'Georgia', Times, "Times New Roman", serif;
	font-weight:800;
	padding: 20px 20px 0px 10px;
}

h3{
	font-size:1.0em;
	font-weight:200;
	font-family: Arial;
}

header{
	background:#415FB2;
	color:white;
	padding:15px 20px 15px 20px;
	position:fixed;
	top:0px;
	width:100%;
	z-index: 5;
}


body{
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	background: #8e9eab; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #8e9eab , #eef2f3); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #8e9eab , #eef2f3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.container{
	margin: 120px 10%;
}

#aboutMe{
	float:left;
	width:65%;
	margin-right:30px;
	background:white;
	border:1px solid gray;
	padding: 10px;
}

#connect{
	float:left;
	width:26%;
	background:white;
	border:1px solid gray;
	padding: 10px;
}


footer{
	display:block;
	width: 100%;
	background:black;
	clear:both;
	text-align: center;
	padding:10px 0px;
	color:white;
	position:fixed;
	bottom:0px;
}

.right{
	float:right;
	margin-right:10px;
	padding-right:20px;
	line-height:2.5;
}


.bio-img{
	height:200px;
	float:left;
	margin-right:15px;
}

.icons{
	padding:5px auto;
	text-align:center;
}
.social{
	height:67px;
	width:67px;
}
.social2{
	height:61px;
	width:61px;
	margin-bottom:2px;
	margin-left:3px;
}


.fa-linkedin-square{
	color:blue;
}

.fa-stack-overflow{
	color:orange;
}

.menu{
	text-decoration:none;
	color:white;
}

#projects{
	float:left;
	width:65%;
	margin-right:30px;
	background:white;
	border:1px solid gray;
	padding: 10px 10px 10px 10px;
	margin-bottom:50px;
}

#contact-form{
	float:left;
	width:65%;
	margin-right:30px;
	background:white;
	border:1px solid gray;
	padding: 10px;
}

input, textarea{
	margin:5px auto 20px auto;
	width:98%;

}

textarea{
	height:200px;
}
button{
	background:blue;
	color:white;
	border:0px solid gray;
	width:65px;
	height:30px;
	font-family:Arial;
}

form{
	padding: 5px 10px 0px 10px;

}


.portfolio-image{
	width:100%;
	margin:auto;

}

.image{
	position:relative;
	float:left;
	width:50%;
}
.image-text{
	position:absolute;
	bottom:12%;
	left:5px;
	background: rgba(65, 95, 178, 0.9);
	color:white;
	padding:6px 5px 6px 2px;
}